#background-buffer{
  height: 250px;
  background-image: url('../assets/rlbanner.png');
  background-position-y: -100px;
  background-position-x: -400px;
  background-repeat: no-repeat;
  margin-top: -7px;
}

@media only screen and (max-width: 1500px) {
  #background-buffer{
    display:none;
  }
}
#leagues{
  height: 40px;
  background-color:grey;
}
