/* You can add global styles to this file, and also import other style files */
body{
  height: 100vh;
  width: 100vw;
  background-color: #e7e7e7 !important
}
.navbar-light .navbar-toggler span{
  color: white !important;
}
